@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
}

body
{
    overflow-x: hidden;
}

.container
{
    width: 100%;
    padding: 0 100px;
    /* border: 1px solid yellow; */
}

.row
{
    display: flex;
}

.jct
{
    justify-content: space-between;
}

.alc
{
    align-items: center;
}

.col-20
{
    width: 20%;
}

.col-25
{
    width: 25%;
}


.col-30
{
    width: 30%;
}


.col-40
{
    width: 40%;
}

.col-45
{
    width: 45%;
}


.col-50
{
    width: 50%;
}

.col-60
{
    width: 55%;
}

.col-70
{
    width: 70%;
}


/* ---------------------------------------- */

.sec-one
{
    padding: 50px 0 0 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.85) 50%), url("./images/Texture.png");
    position: relative;
    /* 
    bg1 => background-color: #181818; z1
    bg2 => background-color: #15f1ff z2;
    bg3 => texture z3;
    */
}

header
{
    width: 100%;
    padding: 0 50px;
    /* border: 1px solid red; */
}

nav
{
    width: 100%;
    background-color: #11f2ff;
    padding: 25px 0;
    position: relative;    
    z-index: 99;

}

.nav-list
{
    margin: 0 auto;
}

.nav-list li
{
    display: inline;
    padding: 0 55px; 
    font-weight: 600;
}

.nav-list li:nth-child(1)
{
    padding: 0 55px 0 0;
}

.yourLogo
{
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
    font-weight: 900;
}

.sec-title
{
    color:#ffffff;
    font-size: 40px;
    /* margin: 0 auto; */
    text-align: center;
    margin: 150px 0 0 0;
}

.liveW
{
    background-color: #ff3e3e;
    position: relative;
    padding: 0 8px;
}

.liveCircle
{
    position: absolute;
    top: -20px;
    right: -10px;
    font-size: 12px;
    color:#ff3e3e;
}


.signIn
{
    display: block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    margin: 70px auto;

}

.dotsBlock
{
    text-align: center;
}

.dotsBlock i
{
    color:#11f2ff;
    font-size: 10px;
    padding: 0 5px;
}

.whiteOne
{
    color: white !important;
}

.bottomPart
{
    position: relative; 
    width: 100%;
    background-color: #11f2ff;
    padding: 25px 0 20px 0;
}

.sec-one-text1
{
    color: white;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.text2
{
    margin: 20px auto;
}


.sec-one-text2, .bigNum
{
    color: #1c1c1c;
    font-size: 30px;
    font-weight: 900;
}

.bigNum
{
    font-size: 70px;
    letter-spacing: 8px;
}


.threeBarsL, .threeBarsR, .rArrow, .lArrow
{
    position: absolute;
}

.threeBarsL, .threeBarsR
{
    transform: scale(0.8);
}

.threeBarsL
{
    top: 50px;
    left: -55px;
}

.threeBarsR
{
    top: 50px;
    right: -55px;
}


.sec-one-img1
{
    width: 100%;
    position: absolute;
    top: 26px;
    left: 0;
    transform: scale(1.1);
    z-index: 1;
    /* display: none; */
}


.sec-one-img2
{
    width: 100%;
    transform: scale(1.11, 1.3);
    position: relative;
    top: -30px;
    left: 50px;
    margin: 160px 0 -40px 0;
}


.rArrow
{
    top: 200px;
    left: 50px;
}


.lArrow
{
    top: 200px;
    right: 50px;
}
/*
---------------------------------------------
section one ends header
---------------------------------------------


---------------------------------------------
section two starts here 
---------------------------------------------
*/


.sec-two
{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.85) 50%), url("./images/Texture.png"); 
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sec-two-main
{
    padding: 100px 0;
}

.sec-two-content
{
    padding: 50px 0 100px 0;
}

.sec-two-img
{
    /* border: 1px solid red; */
    transform: scale(0.9);
    position: absolute;
    top: 150px;
    left: -180px;
}



.rArrow1, .lArrow1, .threeBarsL1, .threeBarsR1
{
    position: absolute;
}

/* .sec-two-text p{ 
   text-align: justify;
   color: white;
} */

.sec-two-text, .sec-three-text 
{
    float: right;
    /* border: 1px solid red; */
    padding: 80px 0 0 0;
}


.sec-two-title
{
    font-family: "Alfa Slab One";
    color:#11f2ff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform:uppercase;
    text-align: justify;
    margin: 10px 0;
}

.sec-two-textPara
{
    color:#ffffff;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
}

.signIn2
{
    background-color: #11f2ff;
    padding: 10px 25px;
    border: none;
    float:left;
    margin: 40px 0 0 0;
}



.threeBarsL1, .threeBarsR1
{
    transform: scale(0.8);
    color:#11f2ff;
}

.threeBarsL1
{
    top: 50px;
    left: -55px;
}


.threeBarsR1
{
    bottom: 50px;
    right: -55px;
}


.rArrow1
{
    top: 90px;
    right: 60px;
}


.lArrow1
{
    bottom:80px;
    right: 600px;
}

/*
---------------------------------------------
section two ends header
---------------------------------------------


---------------------------------------------
section three starts here 
---------------------------------------------
*/

.sec-three
{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.85) 50%), url("./images/Texture.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid red;; */
}

.sec-three-container
{
    padding-right: 0;
}

.sec-three-content
{
    flex-direction: row-reverse;
}

.sec-three-rightBlk
{
    margin: 100px 0 100px 0;
    /* border: 1px solid red; */
    /* padding: 10px 0; */
    background-color: #15f1ff;
}

.sec-three-imgBlk
{
    
    width: 100%;
    /* border: 1px solid red; */
    margin: 0px 80px 0px 0;
    padding: 71px 0;
    position: relative;
}

.sec-three-rect
{
    width: 100%; 
    /* border: 1px solid yellow; */
    padding: 100px 0;
    margin: 100px 0px 40px 0;
}

.sec-three-img
{
    transform: scale(1, 1.08);
    position: absolute;
    bottom: -161px;
    right: -65px;
}

.sec-three-text
{
    width: 35%;
    padding: 100px 0; 
    margin: 100px 0;
}

.sec-three-title
{
    letter-spacing: 2px;
    margin: 50px 0 0 0;
}


.rArrow2, .lArrow2, .threeBarsL2
{
    position: absolute;
}


.threeBarsL2
{
    top: 280px;
    left: 600px
}

.rArrow2
{
    top: 100px;
    left: 100px;
}

.lArrow2
{
    bottom: 100px;
    left: 450px;
}

/* 
---------------------------------------------
section two ends header
---------------------------------------------


---------------------------------------------
section three starts here 
---------------------------------------------
*/

.sec-four
{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.85) 50%), url("./images/Texture.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* border: 1px solid red;; */
    padding: 100px 0;
}



.sec-four-textBlk
{
    margin: 0 auto;
}

.sec-four-para, .sec-four-title
{
    text-align: center;
}

.sec-four-imgBlk
{
    /* margin: 50px 0; */
    padding: 100px 0 0 0;
}

.sec-img-tile
{
    background-color: #11f2ff;
    position: relative;
    padding: 100px 0;
    margin: 100px 0;
    z-index: 1;
}

.imgBlk
{
    padding: 100px ;
    margin: 25px 0;
}

.sec-four-img1, .sec-four-img2
{
    /* border: 1px solid red; */
    position: absolute;
    bottom: -13px;
    width: 100%; 
    transform: scale(1.2);  
}

.sec-four-img1
{
    bottom: 7px;
    left: -25px;
    transform:scale(1.28)
}

.sec-four-img2
{
    right: 25px;
}

.threeBarsL3, .threeBarsR3, .upArrowBlue, .downArrow
{
    position: absolute;
    top: 0;
}


.threeBarsL3
{
    top: 530px;
    left: 50px;
    z-index: 0;
}


.threeBarsR3
{
    top: 790px;
    right: 50px;
    z-index: 0;
}

.upArrowBlue
{
    top: 150px;
    left: 50px;
}


.downArrow
{
    top: 150px;
    right: 50px;
}


/* 
---------------------------------------------
section Four ends header
---------------------------------------------


---------------------------------------------
section Five starts here 
---------------------------------------------
*/

.sec-five, .sec-six, .sec-seven, .sec-eight
{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.85) 10%, rgba(0, 0, 0, 0.85) 30%, rgba(0, 0, 0, 0.85) 50%), url("./images/Texture.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 100px 0;
}

.sec-5-img
{
    padding: 100px 0;
    margin: 100px 0;
}

.sec-five-imgBlk
{
    /* border: 1px solid red; */
    padding: 100px 0;
    
}

.sec-five-img
{
    transform: scale(1);
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 5;
}

.sec-five-textBlk
{
    /* z-index: 5; */
    position: relative; 
}


.sec-five-titleBlk
{
    margin: 0 0 30px 0;
    /* border: 1px solid red; */
}

.sec-five-title
{
    font-family: "Alfa Slab One";
    color:#ffffff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform:uppercase;
    text-align: justify;
    margin: 100px 0 100px 0;
}

.sec-five-para
{
    color: #1d1d1d;
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    padding: 50px 0 0 0;
}

.signIn
{
    margin: 30px 0;
}

.boxBlock
{
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    /* border: 1px solid red; */
    padding: 100px 0;
    background-color:#11f2ff;
    z-index: 0;
}

.blueBox
{
    padding: 100px 0;
}

.blueBox2
{
    padding: 40px 0;
}


.threeBarsL4, .rArrow4
{
    position: absolute;
}

.threeBarsL4
{
    transform: scale(0.9);
    top: 330px;
    left: 670px;
}

.rArrow4
{
    bottom: 80px;
    right: 60px;
}


/* 
---------------------------------------------
section Five ends header
---------------------------------------------


---------------------------------------------
section Six starts here 
---------------------------------------------
*/


.sec-six-main
{
    /* border: 1px solid red; */
    position: relative;
}


.sec-six-imgMain
{
    position: relative;
    /* border: 5px solid yellow */
}


.sec-six-img
{
    width: 100%;
    transform: scale(0.8);
    margin: 0 auto;
    filter: grayscale(100%);
    /* border: 1px solid red; */
}

.left-border, .right-border, .top-border, .bottom-border
{
    position: absolute;
    border: 7px solid #11f2ff;
}

.left-border
{   
    height: 35%;
    bottom: 62px;
    left:100px;
}

.bottom-border
{
    width: 40%;
    bottom: 62px;
    left:100px;
}

.right-border
{
    height: 35%;
    top: 62px;
    right:100px;
}


.top-border
{
    width: 40%;
    top: 62px;
    right:100px;
}


.playBtn
{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 350px;
    left: 550px;
    text-align: center;
    z-index: 5;
}

.playBtn i
{
    font-size: 30px;
}

.sec-six-textBlk
{
    position: absolute;
    top: 30px;
    left:30px;
}

.sec-six-textBlk h2
{
    /* border: 1px solid red;; */
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 2px;
}

.bold
{
    font-size: 40px;
    font-weight: 900;
}

.liveBtn
{
    background-color:#ff3e3e;
    padding: 0 10px;
    position: relative;
}

.liveBtnDot
{
    font-size: 15px;
    color:#ff3e3e;
    position: absolute;
    top: 20px;
    right: -25px;
}

.playBtn
{
    background-color: #ffffff;
    padding: 21px 25px;
    border-radius: 50%;
}

.playBtnImg
{
    transform: scale(1.1);
}

.upArrowWhite
{
    position: absolute;
    top: 400px;
    right: -20px;
}


/* 
---------------------------------------------
section Six ends header
---------------------------------------------


---------------------------------------------
section Seven starts here 
---------------------------------------------
*/

.sec-seven-main
{
    position: relative;
}

.sec-seven-title
{
    color: #ffffff;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
}


.sec-seven-tileBlk
{
    margin: 100px 0;
}

.sec-seven-tile
{
    background-color: #ffffff;
    padding: 15px   ;
}

.sec-seven-img-wrapper1
{
    background: url('./images/sec-seven-tile1.png') no-repeat,
    linear-gradient(#11f2ff,#11f2ff);
}
.sec-seven-img-wrapper2
{
    background: url('./images/sec-seven-tile2.png') no-repeat,
    linear-gradient(#11f2ff,#11f2ff);
}
.sec-seven-img-wrapper3
{
    background: url('./images/sec-seven-tile3.png.png') no-repeat,
    linear-gradient(#11f2ff,#11f2ff);
}


.sec-seven-img-wrapper1,
.sec-seven-img-wrapper2,
.sec-seven-img-wrapper3
{
    width: 100%;
    padding: 100px 0;
    background-size: 100% 100%;
    /* border: 1px solid red; */
}

.sec-seven-img-wrapper2
{
    background-size: 80% 100%;
    background-position: center;
}


.sec-seven-img
{
    padding: 70px 0;
}


.sec-seven-tile-title
{
    color: #2d2d2d;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 25px 0 0 0;
}


.sec-seven-tile-para
{
    text-align: justify;
    margin: 30px 0;
}


.sec-seven-readMore
{
    padding: 5px 10px;
    background-color: #11f2ff;
    border: none;
    display: block;
    margin: 50px auto;

}


.rArrow5
{
    position: absolute;
    bottom: -150px;
    left: 500px;
}

/* 
---------------------------------------------
section Seven ends header
---------------------------------------------


---------------------------------------------
section Eight starts here 
---------------------------------------------
*/


.sec-eight
{
    padding: 100px 0 50px 0;
}

.sec-eight-main
{
    padding: 0 50px;
}


.sec-eight-title, #name, #mail, #msgText, #sendBtn 
{
    display: block;
}

.sec-eight-title
{
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
}

.redScrb
{
    background-color:#ff3e3e;
    padding: 0 15px;
}

form
{
    margin: 50px 0 0 0;
    padding: 0 50px; 
}

#name, #mail, #msgText
{
    width: 100%;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
}


#sendBtn
{
    margin: 60px auto;  
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 700;
    background-color:#11f2ff;
    border: none;
}

/* 
---------------------------------------------
section Eight ends header
---------------------------------------------


---------------------------------------------
section Footer starts here 
---------------------------------------------
*/

footer
{
    background-color:#11f2ff;
    padding: 50px 0;
}

.footer-main
{
    padding: 50px 0;
}


.ftList
{
    list-style-type: none;
}

.ftTitle
{
    display:inline-block ;
    margin: 10px 0;
}

.ftList-title
{
    font-size: 30px;
    font-weight: 800;
}

.whiteBorder    
{
    width: 111%;
    background-color: #ffffff;
    padding: 10px;
    margin: -20px 0 0 -10%;
}


.ftList li
{
    margin: 15px 0;
}

.ftList li a
{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
}

address
{
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    margin: 10px 0;
}

.socialMediaBlk
{
    width: 100%;
    justify-content: flex-end;
    margin: 100px 0 0 0;
    /* border: 1px solid red; */
}

.socialMedia
{
   width: 30%; 
   align-items: center;
}

.followUs
{
    color:#ffffff;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 20px;
    background-color:#ff3e3e;
    border: none;
}

.socialIcons
{
    width: 50%;
    font-size: 22px;
}

/*
---------------------------------------------
section Footer ends here 
---------------------------------------------
*/


/*
---------------------------------------------
section Media Queries starts here 
---------------------------------------------
*/


@media(min-width:768px)
{
    .container
    {
        width: 760px;
        padding: 0 50px;
        margin: 0 auto;
        overflow: hidden;
    }

    header
    {
        padding: 0 25px;
    }

    .nav-list li
    {
        padding: 0 15px;
    }    
    
    .nav-list li:nth-child(1)
    {
        padding: 0 15px;
    }

    .text2
    {
        width: 60%;
    }

    .sec-one-img1
    {
        /* display: none; */
        transform: scale(1, 1.75);
        top: 178px;
    }

    .signIn
    {
        margin: 70px auto;
    }

    .sec-one-img2
    {
        left: 29px;
    }
}

@media(min-width: 992px)
{
    .container
    {
        width: 990px;
        margin: 0 auto;
        padding: 0 50px;
    }
    nav
    {
        padding: 20px 0;
    }

    .nav-list li
    {
        padding: 0 30px;
    }


    .signIn
    {
        margin: 50px auto;
    }

    .sec-one-img1
    {
        transform: scale(1, 1.35);
        top:103px;
    }

    .text2
    {
        width: 50%;
    }


    .sec-two-img
    {
        transform:scale(0.8);
        left: -188px;
    }

    .sec-two-main
    {
        padding: 0;
    }

    .sec-three-img
    {
        transform: scale(0.8, 1);
        bottom: -170px;
        right: -150px;
        padding-bottom: 100px;
        /* display: none; */
    }

    .sec-three-rightBlk
    {
        width: 60%;
        background-color: transparent;
        padding: 100px  0;
    }

    .sec-three-imgBlk
    {
        /* border: 1px solid red; */
        background-color: #11f2ff;
        padding: 100px;
        margin: 100px 50px 0px 0px ;    
        position: relative;
        top: -50px;
        right: -90px;
    }
    .sec-three-rect
    {
        padding: 100px 0;
        /* margin-top: 100px; */
    }

    .threeBarsL2
    {
        transform: scale(0.8);
        top:  290px;
        left: 470px;
    }

    .sec-four-imgBlk
    {
        padding: 0;
    }

    .sec-five-img
    {
        transform: scale(0.8);
        bottom: -82px;
        left: -70px;
    }

    .sec-five-col
    {
        width: 38%;
    }

    .threeBarsL4
    {
        transform: scale(0.8);
        top: 500px;
        left: 500px;
    }

    .sec-five-title
    {
        margin: 0;
        width: 110%;    
        font-size: 40px;
    }

    .blueBox
    {
        margin: 80px 0 0 0 ;
    }


    .playBtn
    {
        top: 252px;
        left: 400px;
    }

    .left-border
    {   
        bottom: 46px;
        left:76px;
    }

    .bottom-border
    {
        bottom: 46px;
        left:89px;
    }

    .right-border
    {
        top: 56px;
        right:75px;
    }
    
    .top-border
    {
        width: 40%;
        top: 42px;
        right:75px;
    }

    .sec-six-textBlk {
        top: 11px;
        left: -6px;
    }

    .socialMedia {
        width: 36%;
        align-items: center;
    }
}

